*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(79, 241, 225);
}
#container {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 35% 100% 40% 20% 25%;
    column-gap: 15px;
    row-gap: 15px; 
}
header {
    font-size: 22px;
    text-align: center;
    font-family: Pacifico;
    padding-left: 50px;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
main {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/week6/responsive_Website/resort_Water.jpg");
    height: 85vh;
    background-size: cover;
    background-position: center;
    grid-row: 2/2;
    grid-column: 1/5;   
}
nav {
    grid-row: 1;
    grid-column: 2/5 ;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
ul {
    list-style-type: none;
    margin-top: 25px;
}
ul, li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

ul, li, a {
    font-size: 24px;
    font-family: Pacifico;
    text-decoration: none;
    color: rgb(233, 30, 131);
    transition: 0.8s ease;
}

ul, li, a:hover {
color: rgb(9, 238, 238);    
}

a{  
    border-style: none;
    border-spacing: 50px;
}

h4 {
    color: hotpink;
    font-size: 20px;
    text-decoration: underline;
    font-family: Pacifico;
    left: 75px;
    position: absolute;
    transform: translateX(-50%);
}
    
figure {
    grid-row: 3;
}
#figure1 {
    color: rgb(0, 255, 242);
    text-align: center;
    font-family: Pacifico;
    font-size: 40px;
    border: 3px solid blue;
    padding: 10px 10px;
    margin-left: 10px;
    background-image: url("./bora.jpg");
    background-size: cover;
    background-position: center;
}
#figure2 {
    color:rgb(255, 16, 136);
    text-align: center;
    font-family: Pacifico;
    font-size: 35px;
    border: 3px solid rgb(255, 9, 132);
    padding: 10px 10px;
    margin-left: 10px;
    background-image: url("/week6/responsive_Website/caribbean_islands.jpg");
    background-size: cover;
    background-position: center
}
#figure3 {
    color: rgb(255, 87, 45);
    text-align: center;
    font-family: Pacifico;
    font-size: 35px;
    border: 3px solid purple;
    padding: 10px 10px;
    margin-left: 10px;
    background-image: url("./night_island2.jpg");
    background-size: cover;
    background-position: center
}
#figure4 {
    color: rgb(29, 251, 255);
    text-align: center;
    font-family: Pacifico;
    font-size: 40px;
    border: 3px solid springgreen;
    padding: 10px 10px;
    margin-right: 10px;
    background-image: url("./coco_drinks.jpg");
    background-size: cover;
    background-position: center
}
article {
    grid-row: 4;
}
p {
    font-size: 19px;
    text-align: center;
    font-family: Impact;
}
footer{
    background-color: rgb(5, 196, 196);
    grid-row: 5;
    grid-column: span 2;
    
    text-align: center;  
     
}
#myfooter1 {
    margin-left: 10px;
}
#myfooter1 p {
    font-size: 15px;
    font-family: Pacifico;
    color: rgb(255, 23, 139);

}
#myfooter2{
    font-size: 20px;

}


/*Mobile Phone*/
@media only screen and (min-width: 360px) and (max-width: 720px){

    #container {
        height: 75vh;
        display:flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 35% 125% 40% 45% 45%;
        column-gap: 15px;
        row-gap: 15px; 
    }
    header {
        text-align: center;
        font-family: Pacifico;
        padding-left: 50px;
        font-size: 25px;
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
    }
    main {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/week6/responsive_Website/resort_Water.jpg");
        height: 80vh;
        background-size: cover;
        background-position: center;
        grid-row: 2/2;
        grid-column: 1/5; 
    
    }
    
    ul, li, a {
        font-size: 25px;
        font-family: Pacifico;
        text-decoration: none;
        color: rgb(233, 30, 131);
        transition: 0.8s ease;
    } 

    h4 {
        display: none;
    }

    #figure1 {
        color: rgb(10, 32, 235);
        text-align: center;
        font-family: Pacifico;
        font-size: 40px;
        border: 3px solid blue;
        padding: 10px 10px;
        margin-left: 10px;
        background-image: url("./bora.jpg");
        background-size: cover;
        background-position: center;
    }
    #figure2 {
        color:#ca22c2;
        text-align: center;
        font-family: Pacifico;
        font-size: 40px;
        border: 3px solid rgb(255, 9, 132);
        padding: 10px 10px;
        margin-left: 10px;
        background-image: url("/week6/responsive_Website/caribbean_islands.jpg");
        background-size: cover;
        background-position: center
    }
    #figure3 {
        color: rgb(255, 87, 45);
        text-align: center;
        font-family: Pacifico;
        font-size: 40px;
        border: 3px solid purple;
        padding: 10px 10px;
        margin-left: 10px;
        background-image: url("./night_island2.jpg");
        background-size: cover;
        background-position: center
    }
    #figure4 {
        color: rgb(29, 251, 255);
        text-align: center;
        font-family: Pacifico;
        font-size: 40px;
        border: 3px solid springgreen;
        padding: 10px 10px;
        margin-right: 10px;
        background-image: url("./coco_drinks.jpg");
        background-size: cover;
        background-position: center
    }
    
    p {
        text-align: center;
        font-family: Impact;
        font-size: 25px;
    }
    footer{
        background-color: rgb(5, 196, 196);
        grid-row: 5;
        text-align: center;
    }
    
    #myfooter1 p {
        font-size: 20px;
        font-family: Pacifico;
        color: rgb(255, 23, 139);
    }
    #myfooter2{
        font-size: 30px;
    }
}

/* Tablet media queary*/
@media only screen and (min-width: 768px) and (max-width: 1024px){

#container {
    height: 70vh;
    display: grid;
    grid-template-columns: 30% 30% 30% 30%;
    grid-template-rows: 35% 90% 40% 20%;
    column-gap: 15px;
    row-gap: 15px; 
}
header {
    font-family: Pacifico;
    font-size: 25px;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
main {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/week6/responsive_Website/resort_Water.jpg");
    height: 65vh;
    background-size: cover;
    background-position: center;
    grid-row: 2/2;
    grid-column: 1/5;   
}

ul, li, a {
    font-size: 30px;
    font-family: Pacifico;
    text-decoration: none;
    color: rgb(233, 30, 131);
    transition: 0.8s ease;
}

    h4 {
    color: hotpink;
    font-size: 25px;
    text-decoration: underline;
    font-family: Pacifico;
    position: absolute;
    left: 18%;
  
}
    
#figure1 {
    color: rgb(0, 255, 242);
    text-align: center;
    font-family: Pacifico;
    font-size: 50px;
    border: 3px solid blue;
    padding: 10px 10px;
    margin-left: 10px;
    background-image: url("./bora.jpg");
    background-size: cover;
    background-position: center;
}
#figure2 {
    color:rgb(255, 16, 136);
    text-align: center;
    font-family: Pacifico;
    font-size: 45px;
    border: 3px solid rgb(255, 9, 132);
    padding: 10px 10px;
    margin-left: 10px;
    background-image: url("/week6/responsive_Website/caribbean_islands.jpg");
    background-size: cover;
    background-position: center
}
#figure3 {
    color: rgb(255, 87, 45);
    text-align: center;
    font-family: Pacifico;
    font-size: 46px;
    border: 3px solid purple;
    padding: 10px 10px;
    margin-left: 10px;
    background-image: url("./night_island2.jpg");
    background-size: cover;
    background-position: center
}
#figure4 {
    color: rgb(29, 251, 255);
    text-align: center;
    font-family: Pacifico;
    font-size: 50px;
    border: 3px solid springgreen;
    padding: 10px 10px;
    margin-right: 10px;
    background-image: url("./coco_drinks.jpg");
    background-size: cover;
    background-position: center
}
p {
    font-size: 25px;
    text-align: center;
    font-family: Impact;
}
footer{
    margin-top: 130px;
    background-color: rgb(5, 196, 196);
    grid-row: 5;
    text-align: center;  
     
}
#myfooter1 {
    margin-left: 10px;
}
#myfooter1 p {
    font-size: 25px;
    font-family: Pacifico;
    color: rgb(255, 23, 139);

}
#myfooter2 p {
    font-size: 30px;

}
}
